$main_color : #917ECE;
$light_purple : #F1F5FE;
$white : #FFF;
$dark_yellow : rgb(246, 211, 97);
$light_yellow : rgb(251, 248, 227);
$light_green : rgb(226, 251, 240);
$dark_green : rgb(107, 229, 132);
$dark_purple : rgb(178, 106, 227);
$light_purple : rgb(245, 237, 252);