@import "colors";
@import "mixins";
@import 'main/main';
@import 'home/home';
@import "register/register";
@import "dashboard/dashboard";
@import "notes/notes";
@import "../../../foundation/css/app.css";
@import "../../../foundation/css/foundation.css";
@import "../../../node_modules/vue-sidebar-menu/src/scss/vue-sidebar-menu.scss";

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  //overflow: auto;
}